<h1>Hockey Blog</h1>

<p>This blog will hold hockey related content. This will include news and scores from the pros, college, and hopefully womens', minor, and foreign leagues.</p>

<p>We will also include links to equipment reviews</p>

{{#link-to 'news'}}News{{/link-to}} | {{#link-to 'portland_rinks'}}Portland Rinks{{/link-to}}

<ul> <!--use #each to loop through models-->
  {{#each model as | posts |}} <!--inside the || can be whatever. As long as it matches what you call for inside the handlebar braces below. It doesn't have to match what the model is called in the index.js-->
    <li><h3>{{posts.title}}</h3> <h4>by {{posts.author}}</h4></li>
      <p>{{posts.body}}</p>
  {{/each}}
</ul>
