<h1>Hockey Blog</h1>

<p>This blog will hold hockey related content. This will include news and scores from the pros, college, and hopefully womens', minor, and foreign leagues.</p>

<p>We will also include links to equipment reviews</p>

{{#link-to 'news'}}News{{/link-to}} | {{#link-to 'portland_rinks'}}Portland Rinks{{/link-to}}
