<h2>Local Portland Rinks</h2>

<p>Ice rinks in the greater Portland area</p>

<p>
  Mountain View Ice Arena<br>
  14313 SE Mill Plain Blvd<br>
  Vancouver, WA 98684
</p>

<p>(360)896-8700</p>

<br>

<p>
  Sherwood Ice Arena<br>
  20407 SW Borchers Dr<br>
  Sherwood OR 97140
</p>

<p>(360)896-8700</p>

<br>

<p>
  Winter Hawks Skating Center<br>
  9250 SW Beaverton Hillsdale Hwy<br>
  Beaverton, OR 97005
</p>

<p>(360)896-8700</p>
